body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(130, 142, 203);
    margin: 0%;
    text-align: center;
}

header{
    background-color: rgb(179, 210, 243);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.306);
    
}

nav{
    background-color: rgb(59, 86, 112);
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.306);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    margin-right:3px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: rgb(179, 210, 243);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.306);
}

main > p {
    font-size: xx-large;
}

h2{
    text-align: center;
}

article{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: justify;
    text-indent: 30px;
}

article > aside {
    background-color: rgb(59, 86, 112);
    color: aliceblue;
    border-radius: 3px;
    text-align: center;
    margin: 0%;
}

footer > p{
    margin: 0%;
}
footer{
    background-color: rgba(46, 47, 83, 0.813);
    color: white;
    text-align: center;
    padding: 4px;
}


