body{
    font-family: Arial, Helvetica, sans-serif; 
}

table{
    width: 600px;
    border-collapse: collapse;
}

caption{
    font-size: 20pt;   
}

thead, th, td{
    border: 1.5px solid black;
    padding: 8px; 
}

body{
    font-family: Arial, Helvetica, sans-serif; 
}

table{
    width: 600px;
    border-collapse: collapse;
}

caption{
    font-size: 20pt;   
}

thead, th, td{
    border: 1.5px solid black;
    padding: 8px; 
}

th, th > td{
    background-color: #717070;
    color: aliceblue;
}

#titulo{
    text-align: center;
}

.media{
    text-align: left;
}

.materia{
    text-align: center;
}

td{
    text-align: right;
}

.nota{
    background-color: #717070;
    color: aliceblue;
}

h1{
    text-align: center;
}

#titulo{
    text-align: center;
}

.media{
    text-align: left;
}

.materia{
    text-align: center;
}

td{
    text-align: right;
}

.nota{
    background-color: #717070;
    color: aliceblue;
}

h1{
    text-align: center;
}